@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

body {
    
    font-family: 'Manrope', sans-serif;
}
.picture1 {
    background: linear-gradient(180deg, #111 0%, rgba(31, 31, 33, 0.5) 0%),url("Images/2.png");
}    
.picture2 {
    background: linear-gradient(180deg, #111 0%, rgba(31, 31, 33, 0.5) 0%),url("Images/3.png");
}
.picture3 {
    background: linear-gradient(180deg, #111 0%, rgba(31, 31, 33, 0.5) 0%),url("Images/4.png");
}
.gray {
    color: rgba(255, 255, 255, 0.60);
}
.link {
    color: rgba(255, 255, 255, 0.60);
}